#Don't track the content of these files: 

#Original (BIG) dataframes
data/dunnhumby_complete_csv/
code/.ipynb_checkpoints/
code/modules/__pycache__/


#Things to avoid generally:
#Can remove the csv if we want to add dataframes
*.csv

# it's better to unpack these files and commit the raw source
*.pyc
*.DS_Store
*.csv
*.7z
*.dmg
*.gz
*.zip
*.iso
*.jar
*.rar
*.tar
*.exe
*.o
*.so
*.dll
*.com
*.class
*.docx
